<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621069451750-dlbr9o0utjn2f6eqefpk629vqunq9vo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621069451750-dlbr9o0utjn2f6eqefpk629vqunq9vo1</string>
	<key>API_KEY</key>
	<string>AIzaSyBY-xW5K-WLoSbGbMIaEnFlHRcwawlNm5o</string>
	<key>GCM_SENDER_ID</key>
	<string>621069451750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stagemuse</string>
	<key>PROJECT_ID</key>
	<string>stagemuse-1c3f3</string>
	<key>STORAGE_BUCKET</key>
	<string>stagemuse-1c3f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621069451750:ios:d48c5db483dd530321d627</string>
</dict>
</plist>